---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> <img src="/logo.png" alt="EDCTURK Logo" class="logo-img" /> EDCTURK </h1>
			<p>
				Her zaman Hazır Ol!
			</p>
<a href="https://www.youtube.com/@edcturk" target="_blank" rel="noopener noreferrer" class="social-link">
  <!-- YouTube SVG -->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="red" viewBox="0 0 24 24">
    <path d="M23.498 6.186a2.99 2.99 0 0 0-2.11-2.11C19.69 3.5 12 3.5 12 3.5s-7.69 0-9.388.576a2.99 2.99 0 0 0-2.11 2.11C0 7.884 0 12 0 12s0 4.116.502 5.814a2.99 2.99 0 0 0 2.11 2.11C4.31 20.5 12 20.5 12 20.5s7.69 0 9.388-.576a2.99 2.99 0 0 0 2.11-2.11C24 16.116 24 12 24 12s0-4.116-.502-5.814zM9.75 15.568V8.432L15.568 12l-5.818 3.568z"/>
  </svg>
  YouTube
</a>

<a href="https://www.instagram.com/edcturk_insta/" target="_blank" rel="noopener noreferrer" class="social-link">
  <!-- Instagram SVG -->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#C13584" viewBox="0 0 24 24">
    <path d="M12 2.163c3.204 0 3.584.012 4.85.07 1.17.054 1.97.24 2.428.414a4.92 4.92 0 0 1 1.77 1.13 4.92 4.92 0 0 1 1.13 1.77c.174.458.36 1.258.414 2.428.058 1.266.07 1.646.07 4.85s-.012 3.584-.07 4.85c-.054 1.17-.24 1.97-.414 2.428a4.92 4.92 0 0 1-1.13 1.77 4.92 4.92 0 0 1-1.77 1.13c-.458.174-1.258.36-2.428.414-1.266.058-1.646.07-4.85.07s-3.584-.012-4.85-.07c-1.17-.054-1.97-.24-2.428-.414a4.92 4.92 0 0 1-1.77-1.13 4.92 4.92 0 0 1-1.13-1.77c-.174-.458-.36-1.258-.414-2.428C2.175 15.747 2.163 15.367 2.163 12s.012-3.584.07-4.85c.054-1.17.24-1.97.414-2.428a4.92 4.92 0 0 1 1.13-1.77 4.92 4.92 0 0 1 1.77-1.13c.458-.174 1.258-.36 2.428-.414C8.416 2.175 8.796 2.163 12 2.163zm0-2.163C8.736 0 8.332.012 7.052.07 5.775.128 4.868.314 4.042.627a6.92 6.92 0 0 0-2.5 1.63A6.92 6.92 0 0 0 .627 4.042C.314 4.868.128 5.775.07 7.052.012 8.332 0 8.736 0 12c0 3.264.012 3.668.07 4.948.058 1.277.244 2.184.557 3.01a6.92 6.92 0 0 0 1.63 2.5 6.92 6.92 0 0 0 2.5 1.63c.826.313 1.733.499 3.01.557C8.332 23.988 8.736 24 12 24s3.668-.012 4.948-.07c1.277-.058 2.184-.244 3.01-.557a6.92 6.92 0 0 0 2.5-1.63 6.92 6.92 0 0 0 1.63-2.5c.313-.826.499-1.733.557-3.01C23.988 15.668 24 15.264 24 12s-.012-3.668-.07-4.948c-.058-1.277-.244-2.184-.557-3.01a6.92 6.92 0 0 0-1.63-2.5 6.92 6.92 0 0 0-2.5-1.63c-.826-.313-1.733-.499-3.01-.557C15.668.012 15.264 0 12 0z"/>
    <path d="M12 5.838a6.162 6.162 0 1 0 6.162 6.162A6.162 6.162 0 0 0 12 5.838zm0 10.162a3.999 3.999 0 1 1 3.999-3.999A3.999 3.999 0 0 1 12 16z"/>
    <circle cx="18.406" cy="5.594" r="1.44"/>
  </svg>
  Instagram
</a>

<a href="https://www.tiktok.com/@edcturk" target="_blank" rel="noopener noreferrer" class="social-link">
  <!-- TikTok SVG -->
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="black" viewBox="0 0 24 24">
    <path d="M9.5 3v14.5a5.5 5.5 0 1 0 5.5-5.5h3.5V3h-9z"/>
  </svg>
  TikTok
</a>

			
		</main>


	<style>

 .logo-title {
    display: flex;
    align-items: center; /* logo ve yazıyı dikey ortala */
    gap: 10px; /* logo ile yazı arası boşluk */
  }

  .logo-img {
    width: 30%; /* logoyu %10 boyutunda yapar */
    height: auto; /* orantıyı korur */
  }

  .social-link svg {
    vertical-align: middle;
    margin-right: 6px;
  }

  .social-link svg {
    vertical-align: middle;
    margin-right: 6px;
  }
</style>
		<Footer />
	</body>
</html>
